.container{
background-image: url('/assets/images/Hotel_image.avif');
height: 100%;
// width: 100%;
background-size: cover;
background-repeat: no-repeat;
}

.btns{
    padding: 6px 6px;
    margin: 5px;
}

.btn-container{
    position: relative;
    top: 25px;
}