<div class="container">
    <div class="btn-container" >
        <mat-toolbar>

        <button mat-raised-button color="primary" (click)="journey('admin')" class="btns">Admin</button>
        <button mat-raised-button color="primary" (click)="journey('owner')" class="btns">Owner</button>
        <button mat-raised-button color="primary" (click)="journey('user')" class="btns">User</button>
        </mat-toolbar>


    </div>
</div>

<div class="box">
    <h1>Welcome Admin</h1>
    <p>How Are You...!!?</p>
</div>
