mat-form-field {
    width: 200px;
    border: 2px;
}

button {
    margin-right: 20px;
}

.example-form{
    border: 2px solid black;
    width: 400px;
    margin: auto;
    text-align: center;
    top: 5px ;
}
.heading{
    color: rgba(0, 0, 0, 0.801);
    margin: auto;
    text-align: center;
}