<p>landing works!</p>
<div class="parent">
    <h2 class="heading" *ngIf="!userName">My Application</h2>
    <h2 class="heading" *ngIf="userName">Welcome {{userName}},</h2>
    <button (click)="login()" class="btn-login"> Login</button>&nbsp;
    <button routerLink="/SignUp" class="btn-login">Sign Up</button>
    <button (click)="studentActivity()" class="btn-login"> Student Activity </button>
    <button routerLink="/student/studentDemo" class="btn-login"> Student Demo</button> 
    <button (click)="directives()" class="btn-login">Directives</button>
    <button (click)="parent()"  class="btn-login">Parent</button>
    <button (click)="apicalls()">Api Calls</button>
    <button (click)="getApiCall()"> Get Api Call</button>
    <button (click)="form()">Form</button>
    <button (click)="getbyId()"> Get By Id </button>

</div>
