<div> 
    <h2 class="form-heading"> Sign Up Form</h2>
    <form class="signup-form-container" [formGroup]="signUpForm">

        <label>Name</label><br>
        <input type="text" formControlName="fullName" appCharOnly><br>
        <span *ngIf="!signUpForm.get('fullName')?.touched 
         && !signUpForm.get('fullName')?.valid
         && !signUpForm.get('fullName')?.dirty">Hint:Enter Your Full Name here</span>
        <span class="err" *ngIf="signUpForm.get('fullName')?.errors?.['required'] 
                 && !signUpForm.get('fullName')?.valid
                 && signUpForm.get('fullName')?.touched">
            Name is required
        </span>
        <span class="err" *ngIf="signUpForm.get('fullName')?.errors?.['pattern']">
            Enter Alphabets Only
        </span>
        <span class="err" *ngIf="signUpForm.get('fullName')?.errors?.['minlength'] 
        && !signUpForm.get('fullName')?.errors?.['pattern']">
           Name must contain 10 Alphabets
        </span><br>

        <label>MobNo</label><br>
        <input type="text" formControlName="mobNo" appNumOnly ><br>
        <span *ngIf="!signUpForm.get('mobNo')?.touched">Hint: Enter you Mobile Number</span>
        <span *ngIf="signUpForm.get('mobNo')?.errors?.['pattern']
        && signUpForm.get('mobNo')?.touched" class="err">Mobile no should be in Integers</span>
      <br><br>
      <label>Email Id</label>
      <input type="text" formControlName="email"><br>
      <span *ngIf="!signUpForm.get('email')?.touched">Hint: Enter you Email Id</span>
      <span *ngIf="!signUpForm.get('email')?.errors?.['pattern']
        && signUpForm.get('email')?.touched" class="err">Email Id should be in Integers or Number</span>
       <br><br>
       <label>City :</label>
       <input type="text" formControlName ="city"> <br><br>
        <button [disabled]="!signUpForm.valid"  (click)="submit()"> Submit </button>
    </form>
</div>


<!--      *ngIf="signUpForm.get('name')?.errors?.['required'] && signUpForm.get('name')?.touched">
            Name is required
        </span>
        <span class="err" *ngIf="signUpForm.get('name')?.errors?.['pattern']">
            Please Enter Valid Name
        </span><br> -->

        <div>
            <br>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
        
        </div>
        <br> <br>
        <div><br>

            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Accent</button>

        </div>

        <div>
            <mat-checkbox> Checkbox</mat-checkbox>
        </div>


      <form [formGroup]="matForm">
        <mat-form-field> 
            <mat-label> Full Name </mat-label>
            <input matInput fromControlName="fullname">
            <mat-hint *ngIf="!matForm.get('fullname')?.touched">Please Enter Full Name here</mat-hint>
        <mat-error *ngIf="matForm.get('fullname')?.hasError('required')">
            Full Name is required
        </mat-error>
        </mat-form-field>
        </form> 


        <br><br><br><br>

        --------------------