
mat-form-field {
    width: 100%;
   
}

button {
    margin-right: 20px;
}
.sing-cont{
    width: 450px;
    border: 2px solid black;
    margin: auto;
    text-align: center;
}
.header{
    color: brown;
    margin: auto;
    text-align: center;
}