
<button mat-raised-button color="primary" (click)="back()">Back</button>
<mat-card>

    <mat-card-header class="header">
        <h2>Owner Sign Up Form</h2>
    </mat-card-header>
    <mat-card-content class="sing-cont">
        <form [formGroup]="signUpForm">
            <mat-form-field class="Signupform">
                <mat-label>Name</mat-label> 
                <input matInput formControlName="name" ><br>
                <mat-hint *ngIf="!signUpForm.get('name')?.touched">
                  Please Enter Name here
                </mat-hint>
              </mat-form-field>
              <mat-form-field class="Signupform">
                <mat-label>PAN Card</mat-label>
                <input matInput formControlName="pancard" ><br>
              </mat-form-field>
              <mat-form-field class="Signupform">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" ><br>
              </mat-form-field>
            <mat-form-field class="Signupform">
              <mat-label>Mobile</mat-label>
              <input matInput formControlName="mobile" ><br>
            </mat-form-field>
              <mat-form-field class="Signupform">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" ><br>
              </mat-form-field>
              <br>
              <mat-radio-group formControlName="gender" aria-label="Select an option"><br>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
              </mat-radio-group>
             <div>
              <button mat-raised-button color="primary" (click)="submit()">Submit</button>
             </div>
                
               
          </form>
    </mat-card-content>
  </mat-card>

