.form{
    background-color: antiquewhite;
    width: 300px;
    height: 250px;
    padding: 5px 6px;
    border: 2px solid black;
    margin: auto;
    text-align: center;
}
.butns{
    padding: 6px 6px;
    margin: 10px;
}
.example-full-width{
    position: relative;
    top: 5px;
    
}

// .hint{
//     color:red;
// }